
/* Shared Style */
@import "tailwindcss";
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  padding-top: 1.875rem;
}
.description-color {
  color: rgba(0, 0, 0, 0.5);
}
a:hover {
  color: rgba(62, 121, 172, 0.738);
}
/* Navbar Section */
.nav-container {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 7.15625rem;
}
.navbar-list {
  gap: 3rem;
}
.nav-color {
  color: rgb(137, 135, 161);
}
.navbar-list-item-1 a:hover {
  color: rgba(78, 72, 72, 0.726);
}

/* Navbar Section End  */

/* Banner-Section */
.Banner-Section {
  margin-bottom: 7.5rem;
}
.banner-title span,
.plant-title span {
  color: rgb(233, 90, 8);
}
.banner-description {
  max-width: 35.625rem;
  width: 100%;
}
/* Banner-Section End */

/* Our Plants Section */
.plant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-bottom: 13.195rem;
}
.plant-card img {
  object-fit: contain;
  margin-bottom: 1.875rem;
}
.plant-title,
.plant-description {
  text-align: center;
}
.plant-title {
  margin-bottom: 1rem;
}
.plant-description {
  max-width: 55.5rem;
  width: 100%;
  margin-bottom: 3.0625rem;
}
.plant-card-title {
  margin-bottom: 1.25rem;
}
.plant-usd {
  margin-bottom: 1.875rem;
}
.add-to-cart {
  padding: 1.625rem 3.125rem;
  color: white;
  background-color: rgb(233, 90, 8);
  max-width: 16.875rem;
  width: 100%;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.add-to-cart:hover {
  background-color: rgba(233, 90, 8, 0.753);
}

/*  Our Plants Section End  */

/* Plants Lover Section */

.plant-lover-list {
  padding-left: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
  /* padding-right: 40px; */
}
.plant-lover-list li,
.plant-lover-title {
  margin-bottom: 1.25rem;
}
.image-animate {
  transform-origin: center center;
  -webkit-animation: img-rotate 20s linear infinite;
  animation: img-rotate 20s linear infinite;
}

@keyframes img-rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Plants Lover Section End */

/* Latest Deals Section */
.Latest-Deal-Section {
  margin-bottom: 10rem;
  text-align: center;
}
.lates-deals-title {
  margin-bottom: 1rem;
}
.latest-deals-img-container {
  grid-template-columns: 0.35fr 0.65fr;
  margin-top: 121px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  place-items: center;
}

.latest-deal-img-left-1,
.latest-deal-img-left-2 {
  position: relative;
  min-width: 22.9375rem;
  min-height: 12.5625rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  place-items: center;
  border: none;

  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
.latest-deal-img-right-1 {
  position: relative;
  min-width: 47.0625rem;
  min-height: 26.445625rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  place-items: center;
  border: none;

  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
}
/* Latest Deals Section End */

/* Join Section */
.join {
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 33.3125rem;
  width: 100%;
  height: 100%;
}
.join h4 {
  margin-bottom: 1.625rem;
}
input[type="email"] {
  min-width: 40.25rem;
  padding: 0.5rem 1.25rem;
}
input[type="button"] {
  min-width: 11.625rem;
  width: 100%;
  padding: 1.625rem 3.125rem;
  background-color: rgb(233, 90, 8);
  color: white;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.email-button:hover {
  background-color: rgba(157, 62, 7, 0.844);
}
/* Join Section End */
/* footer section */
.footer-logo {
  margin-bottom: 16px;
  object-fit: contain;
  align-self: self-start;
}
.footer-links ul li {
  color: rgb(107, 114, 128);
}
.footer-links ul li:hover {
  color: rgb(104, 134, 197);
  text-decoration: underline;
}
.logo,
.footer-logo-img,
.footer-img-link1,
.footer-img-link2,
.footer-img-link3,
.footer-img-link4 {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.logo:hover,
.footer-img-link1:hover,
.footer-img-link2:hover,
.footer-img-link3:hover,
.footer-img-link4:hover,
.footer-logo-img :hover {
  opacity: 0.5;
}
/* Responsive Section */
@media screen and (max-width: 40rem) {
  .container {
    max-width: 40rem;
    padding: 0.8125rem 1rem;
  }

  /* Responsive Navbar Section */
  .image-container img {
    width: 50%;
  }
  /*  Responsive Navbar Section End  */
  /* Responsive Banner */
  .banner-img {
    margin-bottom: 1.75rem;
  }
  /* Responsive our plant */
  .plant-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    place-items: center;
  }
  .plant-card {
    width: 42.5vw;
  }
  .plant-card p {
    font-size: 1rem;
  }
  .add-to-cart {
    font-size: 1rem;

    /* max-width: 10.6875rem; */
    max-width: inherit;
  }
  /* Responsive our plant End */

  /* Responsive Plants Lover Section */
  .plant-lover-list {
    padding-left: 1.25rem;
    /* padding-right: 40px; */
  }
  /* Responsive Plants Lover Section End */
  /* Latest deals */

  .latest-deals-img-container {
    grid-template-columns: 1fr;
  }
  .latest-deal-img-left-1,
  .latest-deal-img-left-2,
  .latest-deal-img-right-1 {
    min-width: 22.5625rem;
    min-height: 11.53125rem;
  }

  /* Responsive Join */
  .join-container {
    min-width: 20rem;
    object-fit: contain;
  }
  .join {
    min-width: 24.5625rem;
    min-height: 275px;
    background-size: cover;
    object-fit: contain;
  }
  input[type="email"] {
    min-width: 218px;
  }
  input[type="button"] {
    min-width: 103px;
    padding: 19px 12px;
  }
  /* Responsive Join End */
}
/*  */